.button {
  padding: 8px 30px 8px 30px;
  background-color: white;
  border-radius: 0.5rem;
  border-color: black;
  border-width: 0.2rem;
  cursor: pointer;
  font-weight: 800;
}

.primary:hover {
  transition: 0.3s;
  background-color: var(--c-primary);
}

.secondary:hover {
  transition: 0.3s;
  background-color: var(--c-secondary);
}
