:root {

  --c-primary: tomato;
  --c-secondary: lawngreen;
  --c-gray: #eaeaea;

  // light theme
  --c-primary-light: rgb(255, 230, 220);
  --c-primary-medium: rgb(252, 217, 203);
  --c-font: black;
  --c-border: #eaeaea;
  --c-card-background: white;

  --c-box-shadow: #4385bb12;

  color: var(--c-font);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--c-primary-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
