.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto
}

.main {
  padding: 1rem 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.contents {
  background-color: white;
}

.sideArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}

