.main {
  padding: 1rem 0;
  display: grid;
  gap: 50px;
  grid-template-columns: 3fr 1fr;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sideArea {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 5fr 2fr;
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.hand:hover {
  display: inline-block;
  transform: rotate( 30deg );
  transition: 100ms;
}

.showMoreButton {
  width: 100%;
  border-width: 0px;
  border-radius: 0.5rem;
  color: gray;
  height: 3rem;
  cursor: pointer;
  background-color: var(--c-primary-light);
  &:hover {
    opacity: 0.7;
    color: black;
    font-weight: 500;
  }
}