.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 70vh;
  gap: 1rem;
}

.blobOne {
  position: absolute;
  right: 30vw;
  z-index: -1;
  overflow: hidden;
}

.blobTwo {
  position: absolute;
  left: 30vw;
  top: 40vh;
  z-index: -1;
  overflow: hidden;
}

.link:hover {
  border-bottom: 1px solid;
}

.apiFrame {
  width: 80vw;
  height: 300px;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}
