
.card {
  padding: 0rem;
  text-align: left;
  color: inherit;
  background-color: white;
  box-shadow: 0 2px 4px #4385bb12;

  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, transform 0.5s;


  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;

  .container {
    padding: 1.0rem;

    h2 {
      margin: 0 0 0.2rem 0;
      font-size: large
    }
  };

  .description {
    color: gray;
  }
}


.img {
  border-radius: 0 0.5rem 0.5rem 0;
};


@media (max-width: 600px) {
  .card {
    padding: 0;
    .container {
      padding: 0.8rem;
    }
  }
}

.card:hover,
.card:focus,
.card:active {
  color: var(--c-primary);
  // border-color: var(--c-primary);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  transform: translate(0, -1px);
}


.card p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5;
}



.date {
  color: gray;
  font-size: 0.8rem;
}

.users {
  color: gray;
  font-size: 0.80rem;
}
