.header {
  // background-color: rgb(100%, 95.6%, 93.7%);
  height: 300px;
  padding: 10px;

  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emojiContainer {
  height: 80px;
  width: 80px;
}

.eventPageThemeEmoji {
  width: 80px;
  height: 80px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;

  border: 0px;
  background-color: transparent;
}

.eventPageThemeEmoji:enabled:hover {
  background-color: var(--c-gray);
  transition: 300ms;
  cursor: pointer;
}

.emojiPicker {
  position: relative;
  z-index: 1;
  top: 0px;
  right: 130px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titleContainer h1 {
  font-size: xx-large;
  margin: 10px;
}

.titleContainer p {
  color: gray;
}

.titleContainer .userEmoji {
  padding-right: 10px;
}

.titleContainer .reservedUsers {
  font-size: x-large;
  font-weight: 400;
}
.titleContainer .capacity {
  font-size: medium;
}

@media (max-width: 800px) {
  .titleContainer h1 {
    font-size: x-large;
  }
}

.main {
  min-height: 800px;
  margin-top: 10px;

  display: grid;
  gap: 10px;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var(--c-card-background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--c-box-shadow);
}

.page {
  @extend .card;

  .description {
    text-align: center;
  }

  .bar {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--c-box-shadow);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

    background-color: var(--c-canvas-subtle);
    color: var(--c-font-muted);
    font-size: small;
  }

  .body {
    padding: 10px;
  }
}

.ellipsesMenuContainer {
  position: relative;
}

.ellipsesMenu {
  border-radius: 0.5rem;

  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.ellipsesDetailsMenu {
  position: absolute;
  right: 0px;

  padding: 10px 5px 10px 5px;

  z-index: 1;
  background-color: #fff;

  width: 150px;
  border-radius: 0.3rem;
  border: solid 1px var(--c-gray);

  .divider {
    border-top: 1px solid var(--c-gray);
    width: 100%;
    margin: 2px 0px 2px 0px;
  }

  button {
    border: none;
    border-radius: 0.3rem;
    padding: 10px;
    background-color: transparent;
    width: 100%;

    text-align: left;
  }
  button:hover {
    background-color: var(--c-gray);
    transition: 300ms;
    cursor: pointer;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventDate {
  @extend .card;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 400;
  }

  span {
    color: gray;
  }

  .button {
    width: 90%;
    min-height: 40px;
    margin: 10px;
    border: 2px solid rgb(122, 121, 121);
  }

  @media (max-width: 600px) {
    .button {
      height: 55px;
      font-size: medium;
    }
  }
}

.users {
  @extend .card;
  min-height: 100px;

  h3 {
    text-align: center;
  }

  * {
    margin-top: 5px;
    margin-left: 5px;
  }
}

.owner {
  @extend .card;
  min-height: 100px;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .followButton {
      border: 1px solid var(--c-gray);
      border-radius: 6rem;
    }

    .name {
      font-weight: 600;
    }
  }

  h3 {
    text-align: center;
    margin-top: 5px;
  }

  * {
    margin: 0px 10px 10px 10px;
  }
}

.eventImage {
  border-radius: 0.5rem;
}
