.mainGrid {
  min-height: 800px;
  margin-top: 10px;

  display: grid;
  gap: 10px;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
}

.main {
  display: flex;
  flex-direction: column;
}